.profilePage {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: min-content repeat(2, min-content);
	column-gap: 64px;
	row-gap: 36px;

	padding: 0 172px;
}
.header {
	grid-column: span 2;
}

.profileInfo {
	grid-row: span 2;

	margin-bottom: 142px;
}

.loading {
	grid-column: 1/ -1;
	grid-row: 2/-1;
}
