.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
}

.indicator {
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 50%;
	border: 5px solid var(--main-color);
	border-bottom-color: transparent;

	animation-timing-function: linear;
	animation-duration: 0.75s;
	animation-iteration-count: infinite;
}

.indicator__inner {
	width: 50px;
	height: 50px;

	animation-name: rotate-left;
}

.indicator__outer {
	width: 85px;
	height: 85px;

	animation-name: rotate-right;
}

@keyframes rotate-right {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes rotate-left {
  from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-720deg);
	}
}
