.dialog {
	position: fixed;
	inset: 0;
	z-index: 1;

	width: 100%;
	height: 100%;

	overflow: hidden;
}

.inner {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: none;

	background-color: white;
	background-image: url("../../assets/page_background.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;

	padding: 20px;

	overflow-y: auto;
}

.button {
	position: absolute;
	right: 50px;
	top: 50px;
	z-index: 1;

	width: 30px;
	height: 30px;
}

.header {
	text-align: center;
}

.content {
	position: relative;
	display: flex;


  width: 100%;
	height: 100%;


	justify-content: center;
	flex-wrap: wrap;
}
