.card {
	display: grid;

	grid-template-columns: 180px 1fr;
	grid-template-rows: min-content 1fr;
	gap: 30px;

  min-height: 260px;

	padding-top: 6px;
	padding-right: 40px;

	background-color: #f5f5f5;

	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;

	box-shadow: rgba(99, 99, 99, 0.5) 0 2px 8px;
}

.picture {
	grid-row: 1/-1;
	grid-column: 1;
}

.header {
	margin-left: 90px;
}

.content {
	margin-bottom: 40px;
}
