.registrationPage {
	display: grid;

	grid-template-rows: 336px auto 1fr;

	padding: 0 450px;
}

.logo,
.registrationForm,
.link {
	grid-column: 2;
}

.logo {
	align-self: center;
	justify-self: center;

	width: 280px;
}

.link {
	text-align: center;
}
