.container {
	display: grid;
	grid-template-rows: repeat(2, min-content);
	gap: 40px;

	width: 964px;
	height: 680px;

	padding: 38px;

  border-radius: 15px;

  box-shadow: rgba(99, 99, 99, 0.5) 0 2px 8px;
}

.header {
	margin: 0;

	color: white;
	font-size: 35px;
	font-weight: 500;
}

.content {
	width: 440px;

	color: white;
}

.datalist {
	align-self: end;
	display: grid;

	gap: 10px;
}

.pair {
	display: flex;
}

.term {
	color: var(--main-color);
}

.description {
	color: white;
}
