.button {
	display: block;

	min-width: 108px;
	width: max-content;
	height: min-content;

	padding: 8px 33px;

	font-size: 14px;
	line-height: 1.5em;
	letter-spacing: -0.011em;
	font-weight: 500;
	font-family: inherit;

	cursor: pointer;

	border-radius: 10px;
	border: 0;
}

.button:disabled {
	background-color: var(--main-color-lighter);
}

.button:focus-visible {
	box-shadow: var(--main-color-darker) 0 0 0 4px;
	outline: 0;
}

.button__link {
	text-decoration: none;
}

.button--orange {
	background-color: var(--main-color);
	color: white;
}

.button--yellow {
	background-color: var(--third-color);
	color: black;
}
