.button {
	display: flex;

	width: max-content;
	height: min-content;

	padding: 8px 33px;

	font-size: 14px;
	line-height: 1.5em;
	letter-spacing: -0.011em;
	font-weight: 500;
	font-family: inherit;
	align-items: center;
	text-decoration: none;

	cursor: pointer;
}

.button--rounded {
	border-radius: 10px;
	border: 0;
}

.button--rectangle {
	border-radius: 0;
	border: 0;
}

.button--rounded:disabled {
	cursor: auto;
}

.button--rounded:focus-visible {
	outline: 0;
}

.button--text {
	border: 0;
	border-radius: 0;
}

.button--text:hover {
	text-decoration: underline;
}

.button--round {
	padding: 8px;
	border-radius: 50%;
}

.button__link {
	text-decoration: none;
}

.button--primary {
	background-color: var(--main-color);
	color: white;
}

.button--primary:disabled {
	background-color: var(--main-color-lighter);
}

.button--primary:focus-visible {
	box-shadow: var(--main-color-darker) 0 0 0 4px;
}

.button--secondary {
	background-color: var(--third-color);
	color: black;
}

.button--secondary:disabled {
	background-color: var(--third-color-lighter);
}

.button--secondary:focus-visible {
	box-shadow: var(--third-color-darker) 0 0 0 4px;
}

.button--monotype {
	background-color: white;
	color: black;
}

.button--monotype:disabled {
	background-color: whitesmoke;
	cursor: auto;
}

.button--monotype:focus-visible {
	box-shadow: black 0 0 0 4px;
	outline: 0;
}
