.card {
	display: grid;

	grid-template-columns: min-content 1fr;
	column-gap: 21px;
  row-gap: 21px;

	padding: 18px 82px 158px 28px;

	background-color: white;

	border-radius: 30px;
	border: 1px solid var(--main-color);
}

.photoLink {
	grid-row: span 2;

	width: 55px;
	height: 55px;
}

.photo {
	border-radius: 50%;
}
.nameLink {
	color: var(--second-color);
}


.name {
	grid-column: 2;

  margin: 0;
  margin-top: 6px;

	font-size: 20px;
	line-height: 1.2em;
	letter-spacing: -0.011em;
	font-weight: 700;
}

.content {
	grid-column: 2;
}
