.header {
	display: flex;

	align-items: center;

	padding: 30px 38px;
}

.logo {
	width: 150px;
}

.navigation {
	margin-left: 170px;
}

.profileLink {
	margin-left: auto;
	margin-right: min(44px, auto);
}

.search {
	margin-left: 92px;

	transition-property: margin;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}
