.indicator {
	display: grid;

  justify-items: center;
  align-items: start;

  row-gap: 240px;
}

.logo {
	order: -1;

	opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

.logo__show {
	opacity: 1;
}
