.loginPage {
	display: grid;

	grid-template-rows: 336px auto 1fr;

	padding: 0 538px;
}

.loginForm,
.logo,
.link {
	grid-column: 2;
}

.logo {
	align-self: center;
}

.loginForm {
	align-self: center;
}

.link {
	align-self: start;
}
