.info {
	display: flex;
	align-items: center;
	column-gap: 20px;

	width: 100%;
	height: 50px;

	overflow: hidden;

	background-color: white;

	border-radius: 30px;
	border: 1px solid var(--main-color);
}

.photo {
	width: 50px;
	height: 100%;

	border-radius: 50%;
}

.name {
	padding: 13px 20px;
	padding-left: 0;

	font-weight: 700;
}
