.card {
	display: grid;

	grid-template-columns: min-content 1fr;

	column-gap: 21px;
	row-gap: 21px;

	padding: 18px 82px 18px 28px;
}

.photoLink {
	grid-row: span 2;

	width: 55px;
	height: 55px;
}

.photo {
	border-radius: 50%;
}

.content {
	grid-column: 2;

	overflow: hidden;
}
