.list {
	display: grid;

	row-gap: 5px;

	max-width: 150px;

	padding: 15px;
	padding-right: 30px;
	margin: 0;

	list-style: none;

	border-radius: 10px;
}

.item {
	padding: 0;

	color: var(--second-color);
	font-size: 20px;
	line-height: 1.2em;
	font-weight: 500;
	letter-spacing: -0.011em;
}
