.list {
	display: grid;

	row-gap: 5px;

	max-width: 150px;

	padding: 15px;
	padding-right: 30px;
	margin: 0;

	list-style: none;

	background-color: white;

	border: 1px solid var(--main-color);
	border-radius: 10px;
}

.item {
	color: var(--second-color);
	font-size: 20px;
	line-height: 1.2em;
	font-weight: 500;
	letter-spacing: -0.011em;
}

.item__link {
	text-decoration: none;
}

.item__button {
	padding: 0;

	border: none;
	border-radius: 0;

	background-color: inherit;

	font-family: inherit;
	cursor: pointer;
}

.item:hover {
	text-decoration: underline;
}
